@model jungkookie.Areas.Security.Models.Userview
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="profile">
            <div class="profile-header">
                <span>Delete this record?</span>
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
            <hr />
            <div class="profile-pic">
                <img src="~/Content/images/pic.png" />
            </div>
            <div class="profile-info">
                <dl class="dl-horizontal">
                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.Age)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                </dl>
            </div>
        </div>
    }
</div>
